/* Elastislide Style */

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	margin: 0 auto;
	min-height: 60px;
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
}

.elastislide-vertical {
	padding: 40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}

.elastislide-carousel ul li a img {
	display: block;
	max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav{
	position: absolute;
	width:49px;
	height: 23px;
    top:0; right:0;
}
.elastislide-prev{background:url(../images/prev.png) no-repeat 0 0; width:49px; height:97px; float:left; text-indent:-999em;display:block !important; cursor:pointer;}
.elastislide-next{background:url(../images/next.png) no-repeat 0 0; width:49px; height:98px; float:left;text-indent:-999em; display:block !important;border-top:solid 1px #fff; cursor:pointer;}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	
}

.elastislide-vertical nav span {

}

.elastislide-horizontal nav span.elastislide-next {

}

.elastislide-vertical nav span.elastislide-next {
	
}