/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

.card-content h2 {
  font-size: 2em;
  color: #e74c3c;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em;
  }
}

/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/
.masthead {
  background: #e74c3c;
}

.site-title {
  margin: 0 0 1em;
  padding: 1em 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: #FFF;
}

@media screen and (min-width: 44.44em) {
  .site-title {
    font-size: 2em;
  }
}

@media screen and (min-width: 50em) {
  .site-title {
    font-size: 2.5em;
  }
}

.site-title a {
  color: hsl(5, 45%, 95%);
  text-decoration: none;
}

.site-title a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------
Base styles
--------------------------------------------------------------*/
.site-title {
  margin-bottom: 0;
}

.main-menu {
 width:100%;
}

.post-content {
  padding: 0 1.4em 1.4em;
}

.sidebar {
  padding: .5em 1.4em 1em;
  background: hsl(0, 0%, 90%);
  overflow: hidden;
}

.example-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.example-menu a {
  display: block;
  padding: .4em 0;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.example-menu a:hover,
.example-menu a:focus {
  padding: .4em 1em;
  background: hsl(0, 0%, 20%);
  color: white;
}

.footer-area {
  padding: .4em 1em;
  text-align: center;
  background: hsl(0, 0%, 75%);
}

/* Sidebar switcher buttons */
@media screen and (max-width: 40em) {
  /* Hide switcher on small screens */

  .sidebar-switcher {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .sidebar-switcher {
    position: absolute;
    right: 0;
    padding: .4em 1em;
    color: #FFF;
  }
  .sidebar-switcher a {
    color: #FFF;
    padding-left: .4em;
  }
  .sidebar-switcher a:hover,
  .sidebar-switcher a:focus {
    color: #FFF;
  }
}

/*--------------------------------------------------------------
Flexbox styles
--------------------------------------------------------------*/
@media screen and (min-width: 40em) {
  .outer-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
#sidebar .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .post-content {
    max-width: 40em;
    margin: 0 auto;
  }
  .main-area {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 12em;
        -ms-flex: 0 0 12em;
            flex: 0 0 12em;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .sidebar-left {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .no-sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hide {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0;
        -ms-flex: 0 0 0;
            flex: 0 0 0;
    padding: 0;
    color: hsla(0, 0%, 0%, 0);
    -webkit-transition: color .2s ease, padding .5s ease .3s, -webkit-box-flex .5s ease .3s, -webkit-flex .5s ease .3s;
    transition: color .2s ease, padding .5s ease .3s, -webkit-box-flex .5s ease .3s, -webkit-flex .5s ease .3s;
    transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
    transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s, -webkit-box-flex .5s ease .3s, -webkit-flex .5s ease .3s, -ms-flex .5s ease .3s;
  }
  .hide a {
    color: hsla(0, 0%, 0%, 0);
  }
} /* mq 40em */


/*--------------------------------------------------------------
Base styles that apply to all menu items
--------------------------------------------------------------*/
.menu-section {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid hsl(0, 0%, );
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  display: block;
  text-decoration: none;
  color:#2b2b2b;
  padding:0 0 0 14px;
  line-height:44px;  font-size:9px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase;
}

.menu li a:hover {
  background:#2b2b2b; color:#fff;
}
.menu li.active a{
  background:#2b2b2b; color:#fff; position:relative;
}
.menu li.active:after{
  content:' '; width:30px; height:44px; background:url(../images/menu-active.png) no-repeat 0 0; float:left; position:absolute; left:-30px; top:0;
}
.menu ul ul li.active:after{
  display:none;
}

.product_page .sidebar_bottom .menu li.has-children a{
  background:#2b2b2b; color:#fff;
}
.product_page .sidebar_bottom .menu li.has-children:after{
  content:' '; width:30px; height:44px; background:url(../images/menu-active.png) no-repeat 0 0; float:left; position:absolute; left:-30px; top:0;
}

/* Styles for Single Level Menu */
@media screen and (max-width: 320px){
  .multi-level-nav ul ul li a {
    padding-left: 2em;
  }

  .dropdown-toggle {
    display: none;
  }
}

@media screen and (min-width:320px){
  .multi-level-nav ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; padding:0 0 0 30px;
  }
.builder_box .multi-level-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 0 0;
}
.builder_box .multi-level-nav ul.sub-menu{display:none;}
.builder-page .builder_box .multi-level-nav .has-children > ul.sub-menu{display:block;}

.builder_box .multi-level-nav ul.toggled-on{display:block !important;z-index: 999;}

  .multi-level-nav li {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
    position: relative; float:left; width:100%;
  }

  li.has-children > a {
    padding-right: 0;
  }
    .builder_box li.has-children > a {
    float:left; width:30px; height:85px; background-color: #2b2b2b; /*background:url(../images/builder.png) no-repeat*/;
  }
  .builder_box .multi-level-nav > ul > li.has-children.active > a {
    background:url(../images/builder-active.png) no-repeat;
  }
.builder-page .builder_box .multi-level-nav > ul > li.has-children > a{
    background:url(../images/builder-active.png) no-repeat;
  }

  .multi-level-nav ul ul {
    display: none;
    position: absolute;
    z-index:100; width:98px; background:#2b2b2b; padding:0; left:98px; top:-44px;
  }
/*.product_page .sidebar_bottom .multi-level-nav ul ul{display:block !important;}*/

    .builder_box .multi-level-nav ul ul {
    display: none;
    position: absolute;
    z-index:100; width:98px; background:#2b2b2b; padding:0; left:128px; top:0;height: 646px;
  }
.multi-level-nav ul ul li a{font-size:9px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; color:#fff;}
.multi-level-nav ul ul li a:hover{color:#fff; background:#000;}
.multi-level-nav ul ul li.active a{color:#fff; background:#000 !important;}
.builder_box .multi-level-nav ul ul li.active a{color:#2b2b2b; background:#e3e4e6 ;}

  .multi-level-nav ul ul li {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
  }
  .builder_box .multi-level-nav ul ul ul{background:#e3e4e6; width:180px; left:98px; padding:0 14px 50px 14px;}
  .builder-page .builder_box .multi-level-nav ul ul li > ul.sub-menu{display:block !important;}
  .builder-page .builder_box .multi-level-nav ul ul li > ul.sub-menu li ul{display:none !important;}
  .builder-page .builder_box .multi-level-nav ul ul li > ul.sub-menu li.active ul{display:block !important;}


  .builder_box .multi-level-nav ul ul ul ul{background:#e3e4e6; width:100%;  padding:0 0 0 10px; position:inherit; float:left; height:auto; }
  .builder_box .multi-level-nav ul ul ul ul li{float:left; width:100%; padding:0 0 0 20px; margin:0; background:none;color:#2b2b2b; font-size:9px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; line-height:21px; position:relative;}

    .builder_box .multi-level-nav ul ul li{position:static;}
	.builder_box .multi-level-nav ul ul ul li a{background:url(../images/arrow1.png) no-repeat 0 7px !important; border-bottom:solid 1px #bebfc1; line-height:21px; padding:0 0 0 16px; color:#2b2b2b;}
		.builder_box .multi-level-nav ul ul ul li.active a{background:url(../images/arrow2.png) no-repeat 0 7px !important; color:#909090;}

    .builder_box .multi-level-nav ul ul li.menu_title {
        color:#7f7e7b; font-size:10px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; padding:30px 14px; height:85px;
  }
  .builder_box .multi-level-nav ul ul li.menu_title2 {
        color:#7f7e7b; font-size:10px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; padding:30px 30px 50px 15px;
  }

  .multi-level-nav ul .toggled-on {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

.dropdown-toggle {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'FontAwesome';
    content: "";
    text-transform: lowercase;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; background:none !important; cursor:pointer; top:0;
}
.sidebar_bottom .dropdown-toggle {
    display:none !important;
}
.product_page .sidebar_bottom .dropdown-toggle {
    display:block !important;
}
/*.common .sidebar_top .multi-level-nav > ul > li .dropdown-toggle {
    display:none !important;
}*/

.sidebar_top .multi-level-nav > ul > li .sub-menu li a .dropdown-toggle {
    display:none !important;

.product_page .sidebar_bottom .dropdown-toggle {
    display:block !important; top:0 !important;
}

  .dropdown-toggle:after {
    position: relative;
    top: 0;
    left: 0;
    width: 42px;
    color: white;
    content: "\f107";
    line-height: 1em; display:none;
  }

  .dropdown-toggle:hover,
  .dropdown-toggle:focus {
    background: hsl(0, 0%, 25%);
  }

  .dropdown-toggle.toggle-on:after {
    content: "\f106";
  }
}

/*--------------------------------------------------------------
Styles for social media menu
--------------------------------------------------------------*/
/* Find src URL and add in correct social media icon. */
.social-menu li a:before {
    font-family: 'Fontawesome';
    -webkit-font-smoothing: antialiased;
    content: '\f08e';
}

.social-menu li a[href*="dribbble.com"]::before { content: '\f17d'; }

.social-menu li a[href*="facebook.com"]::before { content: '\f09a'; }

.social-menu li a[href*="flickr.com"]::before { content: '\f16e'; }

.social-menu li a[href*="foursquare.com"]::before { content: '\f180'; }

.social-menu li a[href*="github.com"]::before { content: '\f09b'; }

.social-menu li a[href*="plus.google.com"]::before { content: '\f0d5'; }

.social-menu li a[href*="instagram.com"]::before { content: '\f16d'; }

.social-menu li a[href*="jsfiddle.com"]::before { content: '\f1cc'; }

.social-menu li a[href*="linkedin.com"]::before { content: '\f0e1'; }

.social-menu li a[href*="pinterest.com"]::before { content: '\f0d2'; }

.social-menu li a[href*="reddit.com"]::before { content: '\f1a1'; }

.social-menu li a[href*="soundcloud.com"]::before { content: '\f1be'; }

.social-menu li a[href*="stackoverflow.com"]::before { content: '\f16c'; }

.social-menu li a[href*="tumblr.com"]::before { content: '\f173'; }

.social-menu li a[href*="twitter.com"]::before { content: '\f099'; }

.social-menu li a[href*="vimeo.com"]::before { content: '\f194'; }

.social-menu li a[href*="vine.co"]::before { content: '\f1ca'; }

.social-menu li a[href*="yelp.com"]::before { content: '\f1e9'; }

.social-menu li a[href*="youtube.com"]::before { content: '\f167'; }

.social-menu li a[href*="wordpress.com"]::before { content: '\f19a'; }

/* Flexbox stuff */

.social-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

/*--------------------------------------------------------------
Styles for mixed menu (drop-down + social)
--------------------------------------------------------------*/
.nav-mixed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
		  float:left;
}

/*--------------------------------------------------------------
Card Based Layout - Base styles
--------------------------------------------------------------*/
.main-area {
  padding: 2em;
}

.card {
  background: white;
  margin-bottom: 2em;
}

.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: normal;
}

.card-content p {
  font-size: 95%;
}


/*--------------------------------------------------------------
Flexbox card styles
--------------------------------------------------------------*/
@media screen and (min-width: 40em) {
  .cards {
    margin-top: -1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 calc(50% - 0.5em);
        -ms-flex: 0 1 calc(50% - 0.5em);
            flex: 0 1 calc(50% - 0.5em);
    /* width: calc(50% - 1em); */
  }
} /* mq 40em*/

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }

  .card {
    margin-bottom: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 calc(33% - 0.5em);
        -ms-flex: 0 1 calc(33% - 0.5em);
            flex: 0 1 calc(33% - 0.5em);
    /* width: calc(33% - 1em); */
  }
} /* mq 60em*/
