
#mainDiv{
				width:1072px;
				margin: auto;
				margin:auto;
			}
			.slider_container img{max-width:inherit !important;}
			.banner_image1{float:left; width:498px; height:256px; margin:227px 0 0 67px;}
			.banner_image2{float:right; width:498px; height:256px; margin:227px 67px 0 0;}
			.slider{position:relative; }
			.slider2 h1{position:absolute; top:0; left:180px; z-index:9; color:#2b2b2b; font-size:66px; text-transform:uppercase;font-family: 'AkzidenzGroteskBEBoldCn'; padding:75px 0 0 0; }
			.banner_text1{float:left; margin:0; width:135px; position:absolute; left:630px; top:315px;}
			.banner_text2{float:left; margin:0; width:135px; position:absolute; right:630px; top:315px;}
			.slider2 h2{color:#2b2b2b; font-size:18px; text-transform:uppercase;font-family: 'AkzidenzGroteskBEBoldCn';line-height:18px; padding:0 0 5px 0;}
			.slider2 h3{color:#2b2b2b; font-size:12px;font-family: 'georgia';line-height:22px; padding:0 0 35px 0;}
.button_add2 {
    float:left;
    text-align: center;
    text-decoration: none;
    width: 117px;
    height: 29px;
    border: solid 2px #f26c4f;
    line-height: 25px;
    color: #f26c4f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    clear: both;
}
.slider2 {
	width: 975px;
	height: auto;
	padding: 0;
	position: relative; float:right; 
}
.slider2 .right.image {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0; background:#f3f4f4; width:100%;height:auto;
}
.slider2 .left.image {
	position: relative;
	z-index: 2;
	 background:#fff;width:100%; height:auto; overflow:hidden;
}
.left:before{content:' '; position:absolute; right:0; top:0; height:100%; width:14px; background:url(../../images/drager.png) no-repeat center center; z-index:999;}
.slider2 .instruction {
	position: absolute;
	top: 50%;
	z-index: 1000;
	width: 95%; display:none;
}
.slider2 .instruction p {
	background: #fff;
	display: inline;
	padding: 1%;
	font-size: 1em;
	text-transform: uppercase
}
